/** @format */
.about {
	width: 50%;
	margin-bottom: 3rem;
}

.textPart {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
}
li {
	margin-top: 1rem;
}
.container {
	display: flex;
	flex-wrap: nowrap;
	margin-left: 2rem;
}
a {
	margin-left: 2rem;
}
.black {
	color: black;
	font-size: 1.5rem;
}
.about {
	font-size: 1rem;
}
