/**
 * Left Section
 *
 * @format
 */

.heroImg {
	height: 400px;
	width: 400px;
	margin-top: 2rem;
	margin-bottom: 5rem;
	margin-left: 20rem;
}
.main-content {
	display: flex;
	align-items: center;
}
/* Right Section */
.right-section {
	margin-bottom: 10rem;
	margin-left: 3rem;
	font-weight: 900;
	font-size: xx-large;
	color: #0c134f;
	margin-top: 2rem;
}
#name {
	color: #0b60b0;
}
/* Buttons */
.btns {
	margin-top: 2rem;
}
.contact-btn {
	background: #0b60b0;
	color: white;
	border-radius: 25px;
	padding: 1rem 2rem 1rem 2rem;
	border: none;
}
.contact-btn:hover {
	opacity: 0.7;
	transform: scale(1);
	transform: scale(0.8);
}
.resume-btn {
	margin-left: 1rem;
	background-color: #0c134f;
	color: white;
	border-radius: 25px;
	padding: 1rem 2rem 1rem 2rem;
	border: none;
}
.resume-btn:hover {
	opacity: 0.7;
	transform: scale(0.8);
}

.connect {
	margin-bottom: 5rem;
	height: 200px;
	width: 50px;
}

.icons {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
a {
	color: #0c134f;
}
.about {
	margin-top: 3rem;
}
